@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Manrope', system-ui, sans-serif;
}

body {
  margin: 0;
  background: #f6f5f4;
  color: #1c1b1a;
}

.material-symbols-rounded {
  font-family: 'Material Symbols Rounded';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
